In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("Cities\\california_cities.csv")

In [90]:
df.head()

,Unnamed: 0,city,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
0,0,Adelanto,34.576111,-117.432778,875.0,2871.0,31765,56.027,56.009,0.018,145.107,145.062,0.046,0.03
1,1,AgouraHills,34.153333,-118.761667,281.0,922.0,20330,7.822,7.793,0.029,20.260,20.184,0.076,0.37
2,2,Alameda,37.756111,-122.274444,NaN,33.0,75467,22.960,10.611,12.349,59.465,27.482,31.983,53.79
3,3,Albany,37.886944,-122.297778,NaN,43.0,18969,5.465,1.788,3.677,14.155,4.632,9.524,67.28
4,4,Alhambra,34.081944,-118.135000,150.0,492.0,83089,7.632,7.631,0.001,19.766,19.763,0.003,0.01

In [91]:
df.tail()

,Unnamed: 0,city,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
477,477,Yountville,38.403056,-122.362222,30.0,98.0,2933,1.531,1.531,0.000,3.966,3.966,0.000,0.00
478,478,Yreka,41.726667,-122.637500,787.0,2582.0,7765,10.053,9.980,0.073,26.036,25.847,0.188,0.72
479,479,YubaCity,39.134722,-121.626111,18.0,59.0,64925,14.656,14.578,0.078,37.959,37.758,0.201,0.53
480,480,Yucaipa,34.030278,-117.048611,798.0,2618.0,51367,27.893,27.888,0.005,72.244,72.231,0.013,0.02
481,481,YuccaValley,34.133333,-116.416667,1027.0,3369.0,20700,40.015,40.015,0.000,103.639,103.639,0.000,0.00

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 482 entries, 0 to 481
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          482 non-null    int64
 1   city                482 non-null    object
 2   latd                482 non-null    float64
 3   longd               482 non-null    float64
 4   elevation_m         434 non-null    float64
 5   elevation_ft        470 non-null    float64
 6   population_total    482 non-null    int64
 7   area_total_sq_mi    480 non-null    float64
 8   area_land_sq_mi     482 non-null    float64
 9   area_water_sq_mi    481 non-null    float64
 10  area_total_km2      477 non-null    float64
 11  area_land_km2       478 non-null    float64
 12  area_water_km2      478 non-null    float64
 13  area_water_percent  477 non-null    float64
dtypes: float64(11), int64(2), object(1)
memory usage: 52.8+ KB

In [106]:
df = df.drop(columns = "Unnamed: 0")
df = df.dropna(how = 'any', axis = 0)

False

### < Top 3 California cities based on their population >

#### 1st city

In [107]:
first = df.iloc[df['population_total'].argmax()]
first

city                  LosAngeles
latd                       34.05
longd                    -118.25
elevation_m                   71
elevation_ft                   2
population_total         3884307
area_total_sq_mi             503
area_land_sq_mi              469
area_water_sq_mi              34
area_total_km2              1302
area_land_km2               1214
area_water_km2                88
area_water_percent           6.7
Name: 239, dtype: object

#### 2nd city

In [108]:
second = df[df['city'] != 'LosAngeles'].iloc[df['population_total'].argmax()]
second

city                  LosBanos
latd                   37.0583
longd                  -120.85
elevation_m                 36
elevation_ft               118
population_total         35972
area_total_sq_mi        10.117
area_land_sq_mi          9.993
area_water_sq_mi         0.124
area_total_km2          26.203
area_land_km2           25.882
area_water_km2           0.321
area_water_percent        1.22
Name: 240, dtype: object

#### 3rd city

In [109]:
thierd = df[(df['city'] != 'LosAngeles') & (df['city'] != 'LosBanos')].iloc[df['population_total'].argmax()]
thierd

city                  LosGatos
latd                   37.2361
longd                 -121.962
elevation_m                105
elevation_ft               344
population_total         29413
area_total_sq_mi         11.16
area_land_sq_mi          11.08
area_water_sq_mi          0.08
area_total_km2          28.903
area_land_km2           28.697
area_water_km2           0.206
area_water_percent        0.71
Name: 241, dtype: object

### </ >

#### What we can understand from the previous data that 1st city has more population for its area_total_km2

#### However 3nd City has more area_total_km2 than the 2nd City but less population?

#### There's no much difference between the 2nd City and 3nd City in area_total_km2

In [110]:
thierd['area_total_km2'] - second["area_total_km2"]

2.699999999999992

#### So the area_water_km2 took place here, Everybody loves water .. Right ?

#### But wait, Why didn't elevation take place here? I thought people are attracted more to Low/Medium temperature, In other words: elevation

#### I don't have the tempratures to decide the reason but let's check the highest, lowest cities in elevation and see if that matters to the population

### < The highest city in elevation >

In [116]:
df.iloc[df['elevation_m'].argmax()]

city                  MammothLakes
latd                       37.6486
longd                     -118.972
elevation_m                   2402
elevation_ft                  7880
population_total              8234
area_total_sq_mi            25.306
area_land_sq_mi             24.866
area_water_sq_mi              0.44
area_total_km2              65.541
area_land_km2               64.402
area_water_km2               1.139
area_water_percent            1.74
Name: 246, dtype: object

#### Looks like `MammothLakes` is in the sky haha-

### </ >

### < The lowest city in elevation >

In [117]:
df.iloc[df['elevation_m'].argmin()]

city                  Brawley
latd                  32.9786
longd                 -115.53
elevation_m               -34
elevation_ft             -112
population_total        24953
area_total_sq_mi        7.682
area_land_sq_mi         7.682
area_water_sq_mi            0
area_total_km2         19.895
area_land_km2          19.895
area_water_km2              0
area_water_percent          0
Name: 45, dtype: object

### </ >

#### Alright .. Brawley has less area, No water and It's undergroud.

#### However It has so much population comparing to `MammothLakes`

#### But why? Probably the temprature

### The average annual temperature in Brawley is 22.4 °C | 72.3 °F. About 62 mm | 2.4 inch of precipitation falls annually.

### The average annual temperature is 5.2 °C | 41.3 °F in Mammoth Lakes.

#### What about our previous example? The toppest cities in population

### Los Angeles: https://www.rssweather.com/climate/California/Los%20Angeles%20County/

### Perfect, Isn't it?

### In Los Banos, the average annual temperature is 16.5 °C | 61.8 °F.

### Los Gatos: https://www.areavibes.com/los+gatos-ca/weather/